<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List of Friends</title>
</head>
<body>

<div class="w3-animate-opacity">
<center>
<h1><strong>Your Friends</strong></h1>
<p>Here are a list of your friends...</p>
<br>

<table class="table table-responsive">

<tr>
<th>Username</th>
<th>Role</th>
<th>Engage in a conversation</th>
</tr>

<tr ng-repeat="f in friends">
<td>{{f.fromId}}</td>
<td>{{f.toId}}</td>
<td><button ng-click="" type="button" class="btn btn-success btn-md">Chat</button></td>
</tr>
</table>

</center>
</div>

</body>
</html>
