<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pending Requests</title>
</head>

<body>

<div class="w3-animate-opacity">
<center>
<h1>Pending Friend Requests</h1>
<br>
 
<table class="table table-responsive"  height="80px" width="100px" >

<tr>
<th>Username</th>
<th>Accept</th>
<th>Deny</th>
</tr>

<tr ng-repeat="p in pendingRequest">
<td>{{p.fromId}}</td>
<td><a href="" ng-click="updatePendingRequest(p.fromId,'A')" class="btn btn-success">Accept</a></td>
<td><a href="" ng-click="updatePendingRequest(p.fromId,'D')" class="btn btn-danger">Deny</a></td>
</tr>

</table>

</center>
</div>

</body>
</html>
