<body >
	<div class="generic-container" ng-controller="LoginController as ctrl">


		</div>


		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">User Registration Form </span>
			</div>
			</div>
			
				<form name="formcontainer" ng-submit="ctrl.submit()" name="myForm"
					class="form-horizontal">

					<label>Register As..</label>
					<div class="form-group ">
					<div class="radio">
						<input type="radio" name="role" value="employee" ng-model="ctrl.user.role"> Employee <br>
						<input type="radio" name="role" value="student" ng-model="ctrl.user.role"> Student <br>
						<input type="radio" name="role" value="alumni" ng-model="ctrl.user.role"> Alumni
				</div>


					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="userid">ID</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.user.id" id="id"
									class="userid form-control input-sm"
									placeholder="Enter your ID" required ng-minlength="3" />
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="name">Name</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.user.name" id="name"
									class="username form-control input-sm"
									placeholder="Enter your name" required ng-minlength="3" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="password">Password</label>
							<div class="col-md-7">
								<input type="password" ng-model="ctrl.user.password"
									id="password" class="username form-control input-sm"
									placeholder="Enter your password" required ng-minlength="3" />
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="emailID">Email</label>
							<div class="col-md-7">
								<input type="email" ng-model="ctrl.user.emailID" id="emailID"
									class="email form-control input-sm"
									placeholder="Enter your Email" required />

							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="contactNumber">Mobile</label>
							<div class="col-md-7">
								<input type="tel" ng-model="ctrl.user.contactNumber" id="contactNumber"
									class="mobile form-control input-sm"
									placeholder="Enter your contact number" required />

							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="address">Address</label>
							<div class="col-md-7">
								<input type="text" width="100" height="50"
									ng-model="ctrl.user.address" id="address"
									class="form-control input-sm" placeholder="Enter your Address." />
							</div>
						</div>
					</div>



					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Register"
								class="btn btn-primary btn-sm">
							<button type="button" ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm">Reset Form</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>


</body>